apiVersion: v1
kind: Service
metadata:
  name: lifecycle-service
spec:
  type: NodePort
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: http
  selector:
    name: lifecycle-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lifecycle-service-deployment
spec:
  selector:
    matchLabels:
      name: lifecycle-service
  replicas: 1
  template:
    metadata:
      labels:
        name: lifecycle-service
    spec:
      containers:
        - name: lifecycle-service
          image: dockerhub.cisco.com/crate-docker/lifecycle-service:1.0.0
          ports:
            - containerPort: 9000
          volumeMounts:
            - mountPath: /app/kube/
              name: kube-config-volume
          env:
            - name: KUBE_CONFIG_LOCATION
              value: /app/kube/config
      volumes:
        - name: kube-config-volume
          hostPath:
            # directory location on host
            path: /home/ubuntu/.kube/
